@mixin font-title {
    font-family: $font-title;
    font-size: $font-size-title;
    color: $color-title-black
}

@mixin font-subtitle {
    font-family: $font-subtitle;
    font-size: $font-size-subtitle;
    color: $color-subtitle-grey;
}

@mixin font-paragraph {
    font-family: $font-paragraph;
    font-size: $font-size-paragraph;
    color: $color-paragraph-black;
}