$color-title-black: rgb(60,60,60,);
$color-subtitle-grey: rgb(120, 120, 120);
$color-paragraph-black: rgb(60, 60, 60);

$gradient-linear-blue: linear-gradient(45deg, rgb(0, 0, 255), rgb(125, 125, 245));

$font-title: "Roboto Slab", serif;
$font-subtitle: "Montserrat", sans-serif;
$font-paragraph: "Montserrat", sans-serif;

$font-size-title: 1.5rem;
$font-size-subtitle: 0.8rem;
$font-size-paragraph: 1rem;